.hoverPopButton {
    text-decoration: none;
    color: variables.$light-color;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1.5rem;
    position: relative;
    z-index: 1;
    
    // brefore
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        transform: scaleX(0.7) scaleY(0.7);
        background-color: variables.$secondary-color;
        border-radius: inherit;
        transition: transform 0.2s cubic-bezier(0.91, 0.24, 0, 1.58), opacity 0.2s ease-out;
        z-index: -1;
    }

    // if have span inside, change .hoverPopButton font size itself
    .icon {
        font-size: 1.25rem;
        width: 1.25rem;
        height: 1.25rem;
    }


    &:hover::before {
        //if is icon, scale more
        transform: scaleX(1.5) scaleY(1.5);
        opacity: 1;
    }

    &:has(.icon):hover::before {
        transform: scaleX(2) scaleY(2);
    }

    .notificationBadge {
        position: absolute;
        background-color: variables.$brand-color;
        color: variables.$primary-color;
        border-radius: 50%;
        padding: 0.15rem 0.4rem;
        font-size: 0.75rem;
        font-weight: bold;
        position: absolute;
        top: -0.75rem;
        right: -0.75rem;
        z-index: 2;
    }
}
