.buttonDark {
    text-decoration: none;
    color: variables.$light-color;
    background-color: transparent !important;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    position: relative;
    z-index: 1;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        transform: scaleX(0.7) scaleY(0.7);
        background-color: var(--brand-primary-soft);
        border-radius: inherit;
        transition: transform 0.2s cubic-bezier(0.91, 0.24, 0, 1.58), opacity 0.2s ease-out;
        z-index: -1;
    }

    &:hover::before {
        opacity: 1;
        transform: scaleX(1.1) scaleY(1.1);
    }


    & p, & span{
        color: variables.$text-light;
        transition: color 0.2s;
    }
    
    & :hover, &:hover {
        color: variables.$text-light-hover;
    }
}

.containBadge {
    position: relative;
}

.notificationBadge {
    position: absolute;
    background-color: var(--destructive);
    color: black !important;
    border-radius: 5px;
    padding: 0.125rem 0.375rem;
    font-size: 0.7rem;
    text-align: left;
    top: 0;
    left: calc(100% - 0.75rem);
    z-index: 2;
}

.isDropdown {
    top: calc(100% + 0.5rem);
    position: absolute;
    border-radius: 10px;
    background: red;
    ul {
        color: white;
    }

    &.center{
        left: 50%;
        transform: translate(-50%);
    }
}