.product{
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    .sticker{
        top: 8px;
        left: 8px;
        position: absolute;
        color: white;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 0.75rem;
        z-index: 1;
    }

    .productImage {
        width: 100%;
        overflow: hidden;
        aspect-ratio: 1 / 1;
        border-radius: 8px;
        margin-bottom: 12px;
        position: relative;
        display: grid;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
            grid-column: 1 / -1;

            &:hover {
                transform: scale(1.1);
            }
        }

    }
    .productDetail{
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: space-between;
        .itemTitle {
            //set a max height to limit to 3 lines and add ellipsis if overflow
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: 600;
            color: variables.$primary-color;

            &:hover {
                color: variables.$secondary-color;
            }
        }
    }
    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .location{
        width: 100%;
    }
}