.commentSection{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    
    .title{
        width: 100%;
        padding: calc(var(--spacing) * 4);
        background: color-mix(in oklab, var(--input) 30%, transparent);
    }
    .commentFilter{
        margin-top: calc(var(--spacing) * 4);
        background: color-mix(in oklab, var(--input) 30%, transparent);
        padding: calc(var(--spacing) * 4);
        border-radius: var(--radius);
        
        .rating{
            padding: 0 calc(var(--spacing) * 2);
            margin-right: calc(var(--spacing) * 4);
            height: 100%;

        }
        .sortRate{
            padding: calc(var(--spacing)) calc(var(--spacing) * 4);
        }
    }

    .container{
        padding: 0 calc(var(--spacing) * 4);
        
        .commentParent{
            border-radius: var(--radius);
            padding: calc(var(--spacing) * 4);
            background: color-mix(in oklab, var(--input) 30%, transparent);
        }
    }
}

.comment, .commentParent{
            margin-top: calc(var(--spacing));
            padding: calc(var(--spacing) * 2) 0;
            gap: calc(var(--spacing) * 6);
            
            .profileContainer,.commentImage{
                max-width: 50px;
                overflow: hidden;
                aspect-ratio: 1 / 1;
                border-radius: 8px;
                position: relative;
                display: grid;
                margin-bottom: auto;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.3s ease;
                    grid-column: 1 / -1;
                }
            }
            .userCommentContainer{
                margin-top: calc(var(--spacing) * 2);
                .userComment{
                    display: -webkit-box;
                    line-clamp: 5;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 5;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-all;
                    margin-bottom: calc(var(--spacing) * 2);
                    font-size: var(--text-small);
                }
            }
        .commentImage{
            max-width: 75px;
        }
        .commentDate{
            display: flex;
            gap: calc(var(--spacing) * 2);
        }
        .settingComment{
            .commenter{
                display: flex;
                gap: calc(var(--spacing) * 2);
            }
        }
    }
.reviewBtn{
    gap: calc(var(--spacing));
    align-items: center;
}

