.commentSection{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    
    .title{
        width: 100%;
        padding: calc(var(--spacing) * 4);
        background: color-mix(in oklab, var(--input) 30%, transparent);
    }
}

.star{
    color: var(--accent-star);
}

.userCommenting {
    padding-inline: calc(var(--spacing) * 2 );
    padding-block: calc(var(--spacing) * 6 );
    align-items: flex-start !important;
}

.replyUserProfile {
    width: 32px !important;
    height: 32px !important;
    border-radius: var(--radius-small);
    overflow: hidden;
    flex-shrink: 0;
    img {
        display: block;
    }
}

.userProfile {
    width: 50px !important;
    border-radius: var(--radius-medium);
    overflow: hidden;
    flex-shrink: 0;
    img {
        display: block;
    }
}
.commentProfile{
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2 );
    align-items: flex-end;
    .replyBar {
        width: 25px;
        align-items: stretch;
        height: 100%;
        border-left: 2px solid var(--border);
    }
}

.parentContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: calc(var(--spacing) * 4 );
}

.commentReplyContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-block: calc(var(--spacing) * 2 );
}

.replyButtonGroup {
    width: 100%;
    display: flex;
    padding-inline: calc(var(--spacing) * 2 );

    align-items: center;
    
    gap: calc(var(--spacing) * 2 );

    button {
        height: fit-content !important;
    }
}

.replyCorner {

    display: flex;
    justify-content: flex-end;

    .cornerContainer {
        display: flex;
        justify-content: flex-end;
        width: 50px;
        height: 50px;

        .replyBlob {
            width: 25px;
            height: 25px;
            border-bottom-left-radius: calc(var(--spacing) * 5 );
            border-bottom: 2px solid var(--border);
            border-left: 2px solid var(--border);
        }
    }
}

.replyGroup {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 4 );
}

.commentContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding-inline: calc(var(--spacing) * 2 );
    gap: calc(var(--spacing) * 2 );
    
    .commentContent {
        flex-direction: column;
        display: flex;
        gap: calc(var(--spacing) * 1 );
    }
}
