.userSettingsOptionsContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 225px;
    .profile {
        display: flex;
        gap: 1rem;

        .profilePicture {
            width: 5rem;
            height: 5rem;
            overflow: hidden;
            border-radius: 1rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .profileName {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;
            gap: 0.5rem;
            .username{
                font-weight: bold;
            }
            .editbutton {
                color: variables.$text-mid-gray;
                font-size: 0.9rem;
            }
        }
    }
}

.linkContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    a {
        color: var(--muted-foreground);
        text-decoration: none;
        &.active {
            font-weight: 700;
            color: var(--text-neutral)
        }
        &:hover{
            color: var(--text-neutral);
        }
    };
    .sublinkContainer {
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        opacity: 0;
        box-sizing: border-box;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out, opacity 0.25s ease-in-out, padding 0.3s ease-out;
        
        a {
            color: var(--muted-foreground);
            text-decoration: none;
            &.active {
                font-weight: 700;
                color: var(--text-neutral);
            }
            &:hover{
                color: var(--text-neutral);
            }
        };
        &.dropdownActive{
            padding-left: 1rem;
            padding: 0.5rem;
            opacity: 1;
            max-height: 200px;
        }
    }
}