.userSettingContainer{
    flex: 1;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: color-mix(in oklab, var(--muted) 30%, transparent);
    box-sizing: border-box;
    border-radius: var(--radius-medium);
    border: 1px solid var(--border);

    [data-theme=dark] & {
        background-color: color-mix(in oklab, var(--input) 30%, transparent);
    }

    [data-theme=midnight] & {
        background-color: color-mix(in oklab, var(--input) 10%, transparent);
    }

    .header {
        padding-inline: calc(var(--spacing) * 8);
        padding-block: calc(var(--spacing) * 4);
        display: flex;
        justify-content: space-between;
        .title {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            width: 100%;
            h1 {
                font-weight: 300;
            }
            p {
                color: var(--muted-foreground);
            }
        }
        border-bottom: 1px solid var(--border);
    }

    .contentContainer {
        padding-inline: calc(var(--spacing) * 4);
        padding-block: calc(var(--spacing) * 4);
        width: 100%;
        overflow: hidden;
    }
}