@use "sass:color";

.advanceFilter {
    width: 200px;
    h3 {
        margin-bottom: 12px;
    }
}

.filterWraper {
    .filterHeader {
        font-size: 0.9rem;
        color: variables.$text-gray;
    }
}

.starRating {
    gap: 0.25rem;
    letter-spacing: var(--spacing);
    color: var(--accent-star);
}
.ratingOptions {
    .starRatingButton {
        width: 100%;
        border: none;
        background-color: transparent;
        display: flex;
        cursor: pointer;

    }
}