@use "sass:color";

.advanceFilter {
    width: 200px;
    h3 {
        margin-bottom: 12px;
    }

    .filterSeparator {
        height: 1px;
        background-color: #ccc;
        margin: 12px 0;
        width: 100%;
    }

    .rangeController, .filterWraper, .categoryOptions, .ratingOptions {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.filterWraper {
    .filterHeader {
        font-size: 0.9rem;
        color: variables.$text-gray;
    }
}

.categoryOptions {
    div {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        input[type="checkbox"] {
            width: 0.75rem;
            height: 0.75rem;
            cursor: pointer;
        }

        label {
            font-size: 0.9rem;
            cursor: pointer;
            color: variables.$text-gray;
        }
    }
}

.ratingOptions {
    .starRatingButton {
        width: 100%;
        border: none;
        background-color: transparent;
        display: flex;
        cursor: pointer;

        .starRating {
            gap: 0.25rem;
            color: variables.$star-color;
        }
    }
}

.rangeInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    .rangeSeparator {
        flex-grow: 1;
        height: 1px;
        background-color: #ccc;
        width: 100%;
    }

    input {
        width: 100%;
        padding: 0.25rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.applyButton {
    width: 100%;
    border: none;
    padding: 0.5rem;
    background-color: variables.$opposite-brand-color;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: color.adjust(variables.$opposite-brand-color, $lightness: -10%);
    }
}