@use "sass:color";

.active, .active span {
    background-color: var(--primary) !important;
    color: var(--primary-foreground) !important;
}

.filterBar {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    background-color: color-mix(
        in oklab, var(--muted-foreground) 10%, transparent);
    border: 1px solid var(--border);
    box-sizing: border-box;
    border-radius: 0.5rem;
    width: 100%;

    .filterPages, .pageButtons {
        align-items: center;
        display: flex;
        gap: 0.5rem;
    }

    .filterPages {
        gap: 1rem;
        .pageButtons {
            .pageButton {
                background-color: variables.$background-color;
                border: none;
                border-radius: 0.25rem;
                cursor: pointer;
                font-size: 1rem;
                padding: 0.25rem 0.5rem;
                transition: color 0.2s ease, background-color 0.2s ease;
                
                &:hover {
                    color: variables.$primary-color;
                    background-color: color.adjust(variables.$light-color, $lightness: -10%);
                }
            }

        }
    }
}