.mediaViewerContainer {
    display: flex;
    gap: 1rem;
    .multimediaContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .mediaItem {
            width: 80px;
            height: 80px;
            overflow: hidden;
            border: 2px solid transparent;
            border-radius: 0.5rem;
            position: relative;
            cursor: pointer;
            img {
                grid-column: 1 / -1;
                width: 100%;
                height: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
            }
            .moreMediaIndicator{
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba($color: #000000, $alpha: 0.5);
                p {
                    font-weight: bolder;
                    color: white;
                    text-align: center;
                }
            }
            &.active {
                border-color:variables.$image-select-border-color;
            }
        }
    }

    .currentPreviewMedia {
        display: flex;
        width: clamp(200px, 30vw, 500px);
        height: clamp(200px, 30vw, 500px);
        align-items: center;
        border-radius: 0.25rem;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}