.mediaViewerContainer {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    .multimediaContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .mediaItem {
            width: 80px;
            height: 80px;
            overflow: hidden;
            background-color: red;
            border: 2px solid transparent;
            border-radius: 0.5rem;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
            }
            &.active {
                border-color: #0070f3;
            }
        }
    }

    .currentPreviewMedia {
        width: 500px;
        height: 500px;
        justify-content: center;
        background-color: red;
        align-items: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}