.panelsContainer {
    padding-block: calc(var(--spacing) * 8);
    padding-inline: calc(var(--spacing) * 4);
    position: relative;
    width: 100%;
    cursor: pointer;
}



.controller {
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    pointer-events: none;
    grid-area: 1 / 1;
    padding-inline: calc(var(--spacing) * 4);
}

.carouselImageContainer {
    overflow: hidden;
    grid-area: 1 / 1;
    border-radius: var(--radius-medium);
}

.carouselContainer {
    display: grid !important;
}


.carouselList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    will-change: transform; 
}

.slide {
    height: 100%;
    min-width: 100%;
    flex-basis: 100%;
    flex-shrink: 0;
    .promoLink {
        display: block;
        width: 100%;
        text-decoration: none;
        aspect-ratio: 3 / 1;
        img {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
            object-position: top center;
            display: block;
        }
    }
}

.active {
    opacity: 1;
}
