.panelsContainer {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    
    &:hover {
        cursor: pointer;
    }
}

.controller {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
    pointer-events: none;

    button {
        pointer-events: all;
        background: rgba(0, 0, 0, 0.4);
        color: white;
        border: none;
        padding: 1rem;
        cursor: pointer;
        transition: background 0.2s ease;

        &:hover {
            background: rgba(0, 0, 0, 0.7);
        }
    }
}

.carouselContainer {
    width: 100%;
    overflow: hidden;
    background: #f5f5f5;
}

.carouselList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    will-change: transform; 
}

.slide {
    height: 100%;
    min-width: 100%;
    flex-basis: 100%;
    flex-shrink: 0;
    .promoLink {
        display: block;
        width: 100%;
        text-decoration: none;
        height: 400px;
        img {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
            object-position: top center;
            display: block;
        }
    }
}

.active {
    opacity: 1;
}


// OptionalDeal
.optionalContainer, .popularContainer, .discoveryContainer{
    display: flex;
    grid-template-columns: repeat(
        auto-fill,
        minmax(clamp(150px, 22vw, 220px), 1fr)
    );
    gap: 1.5rem;
    width: 100%;
    margin: 12px;
    justify-content: center;
}

.giftHeader, .popularHeader, .discoveryHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
    .popularHeader{
        padding: 0 12px;
    }

.giftForPerson,.giftByPrice{
    padding: 12px;
    overflow: hidden;
}

.productList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(clamp(130px, 22vw, 180px), 1fr)
    );
    padding: 0;
    justify-content: center;
    list-style-type: none;
    gap: 1rem;
}

// Discovery
.discoverySection{
    width: 100%;
    .discoveryHeader{
        padding: 24px;
        border-bottom: variables.$primary-color 2px solid ;
        justify-content: center;
    }
    .discoveryHeader ul{
        margin: 0;
    }
    .moreDiscovery{
        // I don't know, how inline come
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: 12px;
        
        .discoveryBtn{
            display: block;
            text-decoration: none;

            background-color: variables.$brand-color;
            width: 25%;
            color: variables.$light-color;
            padding: 16px;
            border-radius: 8px;
        }
    }
}