.recentHeader{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 12px;
    margin-top: 24px;
}
.recentlyContainer{
    display: flex;
    grid-template-columns: repeat(
        auto-fill,
        minmax(clamp(110px, 22vw, 150px), 1fr)
    );
    gap: 1.5rem;
    width: 100%;
    margin: 12px;
    justify-content: center;

    .recentlyList{
        width: 100%;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(clamp(125px, 22vw, 180px), 1fr)
    );
    padding: 0;
    justify-content: center;
    list-style-type: none;
    gap: 1rem;
    }
}