@use "sass:math";

.searchResultContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(clamp(150px, 22vw, 220px), 1fr)
    );
    gap: 1rem;
    justify-content: center;
}

.loading {
    background-color: #dddbdd;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            90deg,
            rgba(#fff, 0) 0,
            rgba(#fff, 0.2) 20%,
            rgba(#fff, 0.5) 60%,
            rgba(#fff, 0) 100%
        );
        animation: loading 2s infinite;
    }
}

.searchResultLoading {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;

    .imageContainer {
        width: 100%;
        overflow: hidden;
        aspect-ratio: 1 / 1;
        border-radius: 0.5rem;
        margin-bottom: 12px;
        background-color: #e0e0e0;
        position: relative;

        .itemImage {
            width: 100%;
            height: 100%;
        }
    }

    .itemDetails {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .itemTitle {
            width: 100%;
            display:flex;
            flex-direction: column;
            gap: 0.4rem;
            .lineA, .lineB, .lineC {
                height: 1.2rem;
            }
        }

        .itemPrice {
            width: 60px;
            height: 1rem;
        }

        .itemRating {
            width: 30%;
            height: 1rem;
        }
    }

    @keyframes loading {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }
}

.searchResultItem {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
    box-sizing: border-box;
    width: 100%;
    
    .imageContainer {
        width: 100%;
        overflow: hidden;
        aspect-ratio: 1 / 1;
        border-radius: 8px;
        margin-bottom: 12px;
        position: relative;
        display: grid;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
            grid-column: 1 / -1;

            &:hover {
                transform: scale(1.1);
            }
        }
        
        p.itemTag {
            position: absolute;
            top: 8px;
            left: 8px;
            background-color: inherit;
            color: white;
            padding: 4px 8px;
            border-radius: 4px;
            font-size: 0.75rem;
            z-index: 1;
            grid-column: 1 / -1;
        }
    }

    .itemDetails {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .itemTitle {
            //set a max height to limit to 3 lines and add ellipsis if overflow
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: 600;
            color: variables.$primary-color;
            &:hover {
                color: variables.$secondary-color;
            }
        }
    }

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}