@use "sass:color";


.navInput{
    height: 2.5rem !important;
    background-color: #fafafa !important;
}

.navSearch {
    padding: 0.5rem 1rem !important;
}

.navSearchBox{
    flex: 0.8 !important;
}