version: "3.9"

services:
  rust-service:
    build: ./backend/rust-service
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - rust-service
