@import "@fontsource/geist-sans/200.css";
@import "@fontsource/geist-sans/300.css";
@import "@fontsource/geist-sans/400.css";
@import "@fontsource/geist-sans/500.css";
@import "@fontsource/geist-sans/600.css";
@import "@fontsource/geist-sans/700.css";
@import "@fontsource/geist-sans/800.css";

:root {
    // Base values
    --background: #fafafa;
    --foreground: #0a0a0a;
    --spacing: 0.25rem;
    --container-md: 28rem;
    --radius: .625rem;
    --text-base: 1rem;
    
    // Base colors
    --primary: #2e49ab;
    --primary-foreground: #ffffff;
    --secondary: #ffffff;
    --secondary-foreground: #1c1c1c;
    --tertiary: #f5a018;
    --tertiary-foreground: #ffffff;
    --muted: #e3e3e3;
    --muted-foreground: #505050;
    --card: #171717;
    --card-foreground: #fafafa;

    --accent: #f5f5f5;
    --accent-foreground: #171717;

    --popover: #fff;
    --popover-foreground: #000000;

    --border: #b0b0b0;
    --input: #e5e5e5;
    --destructive: #ff6466;
    --destructive-foreground: #e32324;

    --text-neutral: #0a0a0a;
    --text-link: #3a5ba3;
    // Fonts
    --text-extra-small: .75rem;
    --text-small: .875rem;
    --text-large: 1.125rem;

    // Border
    --radius-extra-small: .25rem;
    --radius-small: calc(var(--radius) - 4px);
    --radius-medium: calc(var(--radius) - 2px);
    --radius-large: var(--radius);
    
    // blur
    --blur-extra-small: 4px;
    --blur-small: 8px;

    // misc
    --ring: #5f5f5f;
    /* =========================
        Base / Background
    ========================= */

    --content-container-border: #eeeeee;

    /* =========================
        Text
    ========================= */
    --text-lightest: #efefef;
    --text-light: #c6c6c6;
    --text-muted: #858585;
    --text-default: #4d4d4d;
    --text-strong: #313131;

    --text-foreground: #bbbbbb;
    --text-muted-foreground: #747474;

    --text-on-dark: #ffffff;
    --text-on-light: #000000;
    --placeholder: #858585; /* added for input placeholders */

    /* =========================
        Brand / Primary
    ========================= */
    --brand-primary: #141f45;
    --brand-primary-soft: #233472;
    --brand-accent: #3880d2;
    --brand-secondary: #f9f9f9;

    /* =========================
        Accents
    ========================= */
    --accent-star: #f5a018;
    --accent-link: #3c56ff;
    --accent-link-hover: #162fcf;

    /* =========================
        Status / Feedback
    ========================= */
    --color-sale: #d75555;
    --color-alert: #c73636;
    --color-notification: #ff8e8e;
    --color-destructive: rgb(255, 100, 103);
    --color-destructive-rgb: 255, 100, 103;

    /* =========================
        Borders
    ========================= */
    --border-default: #eee;
    --border-input: #e9e9e9;
    --border-input-rgb: 233, 233, 233;
    --border-image-selected: #6b69ff;

    /* =========================
        Buttons
    ========================= */
    --btn-primary-bg: #3153cd;
    --btn-primary-text: #d4d6ff;

    --btn-secondary-bg: #f9f9f9;

    /* =========================
        Product UI
    ========================= */
    --product-active-border: #3880d2;
    --product-active-bg: #b5d8ff;

    --product-add-bg: #ffc5c5;
    --product-add-border-text: #911a1a;

    --product-buy-bg: #ffd390;
    --product-buy-border-text: #7a441a;

    --product-delete-history: #91b7ff;

    /* =========================
        Radius / Shadows
    ========================= */
    --ring-primary: 0 0 0 2px rgba(56, 128, 210, 0.4);;
}
