@use "sass:color";

$background-color: white;
$primary-color: #141f45;
$secondary-color: color.adjust($primary-color, $lightness: 20%);
$accent-color: rgb(56, 128, 210);

$brand-color: #869aff;
$opposite-brand-color: #e48c18;
$light-color: #e9e9e9;

$text-light: #c6c6c6;
$text-light-hover: color.adjust($text-light, $lightness: 20%);
$text-gray: #4d4d4d;
$text-dark: #313131;


$star-color: #f5a018;
$alert-color: #ff7272;