// TODO: REFACTOR THIS FILE

.cartPage{
    padding: 12px;

    .cartHeader{
        display: flex;
        padding: 48px 12px  24px 12px;

        justify-content: space-between;
    }

    .cartGrid{
        display: grid;
        grid-template-areas: "cartContainer cartContainer cartContainer cartOverall";
        grid-template-columns: 1.5fr 0.5fr;
        grid-template-rows: auto auto;
    }

    .cartOverall{
        margin: 0 16px;
        padding: 12px 16px;
        border-radius: 8px;
        box-shadow: 4px 4px 8px gray;

        h2{
            margin: 0;
            padding: 4px 0 20px 0;
        }
        .cartTotal{
            padding-top: 24px;
            display: flex;
            justify-content: space-between;
            p{
                margin: 0;
            }
        }
        .checkout{
            padding-top: 12px;
            button{
                width: 100%;
                padding: 12px;
                border-radius: 8px;
                border-style: none;
            }
        }
        .cartSummary{
            .summaryDetails{
                display: flex;
                justify-content: space-between;
                p {
                    font-size: 16px;
                    margin: 0;
                    padding: 8px 0;
                }
                .priceDisplay{
                    padding-top: 4px;
                    padding-bottom: 12px;
                    
                    p{
                        font-size: 20px;
                    }
                }
                
            }        
        }
    }
    // PC
    @media screen and (max-rwidth: 991px) {
            .cartHeader{
                display: flex;
            }
    }

    // IPAD / TABLET
    @media screen and (max-width: 767px) {
        
    }

    //PHONE
    @media screen and (max-width: 479px) {
        display: block;
        .cartContainer{
            display: block;
            .fakeImg{
                width: 100%;
                padding-bottom: 12px;
            }
            .cartText{
                padding-left: 0px;
            }
        }

    }
    .cartContainer, .products{
    box-shadow: 4px 4px 8px gray;       
    }
    .products{
        width: 100%;
        padding: 8px;
    }
    .cartContainer{
        margin: 4px 12px 0 12px;
    }
    .cartContainer, .cartItem{
    display: flex;
    padding: 8px;
    border-radius: 8px;
        .fromShop{
            
            .shopCheckbox{
                display: flex;
                gap: 18px;
            }
        }
        .fakeImg{
            width: 277px;
            height: 159px;
            background-color: forestgreen;

        }

        .fakeItemImg{
            width: 100px;
            height: 100px;
            background-color: forestgreen;
        }
        .cartText {
            margin-top: auto;
            margin-bottom: auto;
            text-align: center;
        }

        .fromShop, .fromShopHeader{
            width: 100%;
            .itemInfo{
                display: grid;
                grid-template-areas: "image itemName";
                grid-template-areas: 20% 80%;
                gap: 16px;
                height: 100%;
                div {
                    margin: auto;
                }
                p{
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    -moz-box-orient: vertical;
                    overflow: hidden;
                }
                
            }
            .fromShopHeader{
                display: flex;
                gap: 16px;
                padding: 12px;
                border-bottom: 1px solid black;
                box-sizing: border-box;
            }

            h4{
                margin: 0;
            }
            
        }
    }   
}   

.itemFromShop{
    display: grid;
    grid-template-areas: "checkBox shopName unitPrice quantity totalPrice actions";
    grid-template-columns: 0.05fr 0.5fr 0.2fr 0.2fr 0.2fr 0.2fr;
    text-align: center;
    align-items: center;
    padding: 12px 8px;
    
    p{
        margin: 0;
        font-size: 16px;
    }

    .quantity{
        display: flex;
        gap: 12px;
        justify-content: center;
    }

    input{
        width: 25px;
    }
                
}