@use "token";

button, input, select, optgroup, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
}

*, :after, :before, ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--background);
    height: 100%;
    font-family:  "Geist Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        padding: 0;
    }

    #__next{
        height: 100%;
    }
}
