.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    .bottomContainer {
        padding: 1rem;
    }
}

.discoveryHeader{
    justify-content: center !important;
    border-bottom: 1px solid var(--border);
    padding-block: calc(var(--spacing) * 2);
    background-color: color-mix(in oklab, var(--muted) 50%, transparent);
}


.giftsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}