$primary-light-color: #F3E9F4;
$secondary-light-color: #61dafb;


.registerContainer {
    font-family: 'Arial', sans-serif;

  @media screen and (max-width: 991px) {
        background-color: #131b3d;
    }

    @media screen and (max-width: 767px) {
        background-color: #29262b;
    }

    //PHONE
    @media screen and (max-width: 479px) {
        background-color: $primary-light-color;
        display: block;

    }

    .signInHeader{
        text-align: center;
    }

    p{
        margin: 0;

    }

    .inputBox{
    
        padding: .5rem 0 1rem 0;

        p{
            font-size: 18px;
        }

        input{
            width: 100%;
            height: 32px;
            box-sizing: border-box;
        }
    }

    .dateBox{
        
    }

}