$primary-sign-in-color: #28262c;
$input-color: #3c404e;
$input-hover-color: #515668;
$submit-button: #b06fb7;
$submit-hover-button: #e875a9;

.light{
    position: relative;
    height: 100%;
    background-image: radial-gradient(farthest-corner at right 10px,
                    rgba(158, 158, 158, 0.126) 1%,
                    $primary-sign-in-color 40%);
}

.registerContainer {
    height: 100%; 
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    * {
        color: white;
        input{
            background-color: $input-color;
        } 
    }


    @media screen and (max-width: 991px) {
        background-color: #131b3d;
    }

    @media screen and (max-width: 767px) {
        background-color: #29262b;
    }

    //PHONE
    @media screen and (max-width: 479px) {
        background-color: $primary-sign-in-color;
        display: block;
        padding: 1rem;

        
    }
        

    .signInHeader{
        text-align: center;
    }

    p{
        margin: 0;
    }

    .inputBox{
    
        padding: .5rem 0 1rem 0;
        p{
            font-size: 18px;
            margin-bottom: .25rem;

        }
        input:focus{
            outline-color: $input-hover-color;
        }

        input{
            width: 100%;
            height: 32px;
            border-radius: 8px;
            box-sizing: border-box;
            border: none;
        }
    }

    .policyBox{
        .box{
            display: flex;
            align-items: center;
            padding-bottom: .5rem;
            color: white;
        }


        input{
            width: 24px;
            height: 24px;
            align-items: center;
        }

        .policyMessage{
            padding: 0 .25rem 1rem .25rem;
            p{
                font-size: 14px;
            }
        }
    }
    .submitButton:hover{
        background-color: $submit-hover-button;
    }

    .submitButton{
        padding: .5rem;
        display: flex;
        justify-content: center;
        background-color: $submit-button;
        border-radius: 8px;
    }
}