.addressCard{
    border-radius: var(--radius-medium);
    border: 1px solid var(--border);
    .header{
        background-color: color-mix(in oklab,
            var(--muted) 40%, transparent);
        border-bottom: 1px solid var(--border);
        padding: calc(var(--spacing) * 2);
        legend {
            margin: 0;
        }
    }
    .cardInfo{
        padding-block: calc(var(--spacing) * 4);
        padding-inline: calc(var(--spacing) * 2);
        align-items: end;
        .local{
            padding-bottom: 4px;
        }
    }
}
.addressContainer{
    .noLocation{
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(var(--spacing) * 64);
        margin-bottom: calc(var(--spacing) * 4);
        h2{
            font-weight: normal;
        }
    }
}

.defaultAddr {
    font-size: var(--text-small);
    line-height: var(--text-sm--lineheight);
    padding-block: calc(var(--spacing) * 1.5);
    padding-inline: calc(var(--spacing) * 2);
    border-radius: var(--radius-extra-small);
    border: 1px solid;
    border-color: var(--tertiary);
    background-color: color-mix(in oklab, var(--tertiary) 30%, transparent);
    max-width: fit-content;
}