.authContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
}

.inputForm {
    width: 300px;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 2px #eee solid;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .textHeader{
        font-weight: 500;
    }

    .inputBox {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        label {
            font-size: 0.9rem;
            font-weight: bold;
        }
        input {
            width: 100%;
            height: 2rem;
            padding: 0.25rem;
            box-sizing: border-box;
        }
        .passwordBox {
            position: relative;
            button {
                position: absolute;
                right: 0;
                height: 2rem;
                width: 2rem;
                background-color: transparent;
                border: none;
            }
        }
    }

    a {
        color: variables.$saturated-hyper-link;
        text-decoration: none;
        font-size: 0.9rem;
        width: fit-content;
        &:hover{
            color: variables.$saturated-hyper-link-hover;
        }
    }
    .submitContainer{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
    .submitButton {
        padding: 0.25rem;
        margin-top: 1rem;
        height: 2rem;
        background-color: variables.$submit-button-bg;
        border: none;
        color: variables.$text-lighter;
        font-size: 0.9rem;
        font-weight: 700;
        border-radius: 0.25rem;
        &:hover {
            background-color: variables.$submit-button-bg-hover;
        }
    }

    .notice {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        color: variables.$text-gray;
    }
}