.bottomProductSections{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 24px;
    .header{
        margin-top: 24px;
        padding: 24px 0;
        border-top: 1px solid black;
    }

    .bottomProductContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(clamp(120px, 22vw, 200px), 1fr)
    );
    gap: 1rem;
    justify-content: center;
}
}