.cartPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    gap: 2rem;
    padding: 2rem 1rem;
    .cartSection{
        display: flex;
        width: 100%;
        align-items: start !important;
    }
}

.cartContainer{
    width: 100%;
    display: flex;
    gap: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 4);
    background-color: color-mix(in oklab, var(--muted) 30%, transparent);
    border: 1px solid var(--border);
    border-radius: var(--radius-medium);

    [data-theme=dark] & {
        background-color: color-mix(in oklab, var(--input) 30%, transparent);
    }
}

.allTotal, .header {
    padding-inline: calc(var(--spacing) * 4);
}

.cartItemContainer{
    padding: 1rem;
}

.productDetails{
    gap: var(--spacing) !important;
}

.header {
    h1 {
        font-weight: 400;
    }
}

.itemSection{
    .imageSection {
        flex-shrink: 0;
        width: 11rem;
        height: 11rem;
        overflow: hidden;
        border-radius: 1rem;
        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
.productName {
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 500;
    font-size: var(--text-large) !important;
    display: -webkit-box;
    a {
        color: var(--text-neutral);
        text-decoration: none;
        &:hover {
            color: var(--text-link);
        }
    }
}
.variants {
    thead {
        display: none;
    }
    td {
        &.key {
            font-weight: font;
            width: calc(var(--spacing) * 20);
        }
        text-align: left;
        padding-right: 1rem;
    }
}
.priceContainer{
    width: 12.5%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: right;
    p {
        text-align: right;
        font-size: 1.25rem;
    }
}

.allTotal {
    display: flex;
    justify-content: space-between;
}

.cartSummary {
    width: 250px !important;
    flex-shrink: 0;
    flex-grow: 1;
    padding: calc(var(--spacing) * 4);
}

.inStock {
    color: color-mix(in oklab, var(--stock-in) 80%, transparent) !important;
}

.lowStock {
    color: color-mix(in oklab, var(--stock-low) 80%, transparent) !important;
    font-weight: 600;
}

.outOfStock {
    color: color-mix(in oklab, var(--stock-out) 80%, transparent) !important;
}