.changePasswordContainer{
    .forgetPassword{
        padding-bottom: 8px;
        a{
            text-decoration: none;
        }
    }
    .passwordInput{
        h3{
            padding: 12px 0 ;
        }
        input{
            padding: 12px 4px;
            width: 50%;
        }
    }
    .passwordBtn{
        display: flex;
        padding-top: 20px;
        gap: 1.5rem;
        .resetBtn, .changePasswordBtn{
            padding: 12px 16px;
            border: transparent;
            cursor: pointer;
            transition: 0.3s;
        }
        .resetBtn{
            background-color: variables.$white-button-bg;
        }

        .changePasswordBtn{
            background-color: variables.$submit-button-bg;
            color: variables.$text-lighter;
        }
        .resetBtn:hover{
            background-color: variables.$white-button-bg-hover;
        }
        .changePasswordBtn:hover{
            background-color: variables.$submit-button-bg-hover;
            color: variables.$text-dark;
        }
    }
}