@use "sass:color";

// Global

.navLogo {
    font-size: clamp(1.5rem, 3vw + 1rem, 2rem);
}

.navActions{
    display: flex;
    align-items: center;
    gap: 1.75rem;
}

.nav {
    position: fixed;
}

@media (min-width: 769px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .navTop {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            gap: 3rem;
            padding: 0.75rem 0;
        }
    }

    .navBottom {
        ul {
            display: flex;
        }
    }
}

.navbar {
    background-color: variables.$primary-color;
    color: white;
    width: 100%;
    font-family: system-ui;

    .navTop{
        padding: 0.75rem 0;

        .navLogo{
            font-weight: bold;
            text-decoration: none;
            a{
                text-decoration: none;
                color: variables.$brand-color;
            }
        }

        .navActions{
            display: flex;
            gap: 1.75rem;
        }
    }

    .navBottom{
        width: 100%;
        background-color: color.adjust(variables.$primary-color, $lightness: -5%);
        padding: 0.5rem 0;

        ul{
            list-style: none;
            justify-content: center;
            gap: 2rem;
            margin: 0;
            padding: 0;

            li{
                a{
                    text-decoration: none;
                    color: variables.$light-color;
                    font-size: 1rem;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}