@use "sass:color";
@use '../_variables.scss';

@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .navTop {
            display: grid;
            grid-template-areas:
                "logo action"
                "search search";
            grid-template-columns: 1fr auto;
            gap: 0.25rem;
            padding: 0.75rem 0;
            width: 90%;
    
            .navLogo {
                grid-area: logo;
                justify-content: left;
                align-items: left;
            }
            .navActions {
                grid-area: action;
            }
            .navSearch {
                grid-area: search;
                display: grid;
                grid-template-areas:
                    "searchBox"
                    "location";
                gap: 1rem;
                .navSearchBox{
                    grid-area: searchBox;
                }
                .navLocation {
                    grid-area: location;
                }
            }
        }
    
        .navSearch {
            flex-direction: column;
            width: 100%;
    
            .navSearchBox {
                flex: none;
                width: 100%;
            }
        }
    
        .navActions {
            gap: 1rem;
        }
    }
}

@media (min-width: 769px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .navTop {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            gap: 3rem;
            padding: 0.75rem 0;
        }

        .navSearch {
            gap: 1rem;
            display: flex;
            flex: 1;
            .navSearchBox {
                display: flex;
                flex: 1;
            }
        }
    }
}

.navbar {
    background-color: variables.$primary-color;
    color: white;
    width: 100%;
    font-family: system-ui;

    .navTop{
        padding: 0.75rem 0;

        .navLogo{
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
            a{
                text-decoration: none;
                color: variables.$brand-color;
            }
        }

        .navSearch{

            .navLocation{
                display: flex;
                align-items: center;
                gap: 0.5rem;
    
                div{
                    display: flex;
                    flex-direction: column;
                    span{
                        font-size: 0.75rem;
                    }
                    strong{
                        font-size: 1rem;
                    }
                }
            }
    
            .navSearchBox{
    
                display: flex;
                border-radius: 20px;
                overflow: hidden;
                // fill the remaining space
                flex: 1;
    
                input{
                    width: 100%;
                    height: 2.5rem;
                    box-sizing: border-box;
                    border: none;
                    padding: 0.5rem 1rem;
                }
    
                input:focus{
                    outline-color: variables.$secondary-color;
                }
    
                button{
                    color: white;
                    border: none;
                    padding: 0 1rem;
                    cursor: pointer;
                    background-color: variables.$secondary-color;
                }
            }

        }

        .navActions{
            display: flex;
            gap: 1.75rem;
        }
    }

    .navBottom{
        width: 100%;
        background-color: color.adjust(variables.$primary-color, $lightness: -5%);
        padding: 0.5rem 0;

        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin: 0;
            padding: 0;

            li{
                a{
                    text-decoration: none;
                    color: variables.$light-color;
                    font-size: 1rem;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}