@use "sass:color";

.navbar {
    --input: #fafafa;
    --text-neutral: #fafafa;
    --muted-foreground: #c5c5c5;
    --foreground: #fafafa;
    --background: #171717;
}

.buttonDark {
    text-decoration: none;
    color: var(--muted-foreground);
    background-color: transparent !important;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    position: relative;
    z-index: 1;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        transform: scaleX(0.7) scaleY(0.7);
        background-color: var(--primary);
        border-radius: inherit;
        transition: transform 0.2s cubic-bezier(0.91, 0.24, 0, 1.58), opacity 0.2s ease-out;
        z-index: -1;
    }

    &:hover::before {
        opacity: 1;
        transform: scaleX(1.1) scaleY(1.1);
    }


    & p, & span{
        color: var(--muted-foreground);
        transition: color 0.2s;
    }
    
    & :hover, &:hover {
        color: var(--text-neutral);
    }
}

.notificationBadge {
    position: absolute;
    background-color: var(--destructive);
    color: black !important;
    border-radius: 5px;
    padding: 0.125rem 0.375rem;
    font-size: 0.7rem;
    text-align: left;
    top: 0;
    left: calc(100% - 0.75rem);
    z-index: 2;
}

.containBadge {
    position: relative;
}

.navbar {
    top: 0;
    background: linear-gradient(75deg, 
        color-mix(in oklab, var(--primary) 70%, black), 
        color-mix(in oklab, var(--primary) 65%, black));
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .navTop{
        height: calc(var(--spacing) * 18);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        gap: 3rem;
        padding: 0.75rem 0;

        .navLogo{
            height: 50px;
            margin-top: -10px;
        }

        .navActions{
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

    .navTopPortal{
        height: calc(var(--spacing) * 18);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 3rem;
        padding: 0.75rem 1.5rem;

        .navLogo{
            height: 50px;
            margin-top: -10px;
        }

        .navActions{
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

    .navBottom{
        width: 100%;
        background-color: color-mix(in oklab, var(--background) 40%, transparent);
        padding: 0.5rem 0;

        ul{
            list-style: none;
            justify-content: center;
            gap: 2rem;
            margin: 0;
            padding: 0;
            display: flex;

            li{
                a{
                    text-decoration: none;
                    color: var(--text-neutral);
                    font-size: 1rem;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}