@use "sass:color";

.navbar {
    top: 0;
    background: linear-gradient(75deg, variables.$primary-color, color.adjust(variables.$primary-color, $lightness: 5%));
    color: white;
    width: 100%;
    font-family: system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .navTop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        gap: 3rem;
        padding: 0.75rem 0;

        .navLogo{
            height: 50px;
            margin-top: -10px;
        }

        .navActions{
            display: flex;
            align-items: center;
            gap: 1.75rem;
        }
    }

    .navBottom{
        width: 100%;
        background-color: color.adjust(variables.$primary-color, $lightness: -5%);
        padding: 0.5rem 0;

        ul{
            list-style: none;
            justify-content: center;
            gap: 2rem;
            margin: 0;
            padding: 0;
            display: flex;

            li{
                a{
                    text-decoration: none;
                    color: variables.$light-color;
                    font-size: 1rem;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}