.notiContainer{
    ul{
        list-style-type: none;
    }
    .email,.promotion,.order,.survey,.messageNoti {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        h3{
            padding-bottom: 4px;
            text-decoration: none;
        }
    }
}