.promotionHeader{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: color-mix(in oklab, var(--input) 30%, transparent);
    padding: 8px;
    border: 1px solid var(--border);
    border-radius: 8px;
}

.notiComponent{
    min-height: 120px;
    max-height: 240px;
    background-color: color-mix(in oklab, var(--input) 30%, transparent);
    border: 1px solid var(--border);
    padding: calc(var(--spacing) * 3);
    overflow: hidden;
    border-radius: var(--radius-medium);
    text-decoration: none;
    color: var(--text-neutral);
}

.imageContainer {
    width: calc(var(--spacing)*30);
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: var(--radius-medium);
    position: relative;
    object-fit: cover;
    display: grid;
    flex-shrink: 0;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
        grid-column: 1 / -1;
    }
}

.additionImages {
    width: fit-content;
    overflow: hidden;
    aspect-ratio: 1 / 0.5;
    position: relative;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    margin-top: 12px;
    .additionImagesWraper{
        width: 5rem;
        height: 5rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
            border-radius: 8px;
            grid-column: 1 / -1;
        }
    }    
}

.contentDescription{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all
}