.notiComponent{
    min-height: 120px;
    max-height: 240px;
    display: grid;
    grid-template-columns: 10% auto 10%;
    background-color: color-mix(in oklab, var(--primary) 10%, var(--muted) 70%);
    padding: 12px;
    gap: 1rem;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 8px;
    text-decoration: none;
    color: var(--text-neutral);
    .imageContainer {
        width: 100%;
        overflow: hidden;
        aspect-ratio: 1 / 1;
        border-radius: 8px;
        position: relative;
        object-fit: cover;
        display: grid;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
            grid-column: 1 / -1;
            
        }

    }
    .details{
        .contentDescription{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all
        }
        
        .bottomContent{
            margin-top: 12px;
                .additionImages {
                    width: fit-content;
                    overflow: hidden;
                    aspect-ratio: 1 / 0.5;
                    position: relative;
                    display: grid;
                    gap: 1rem;
                    grid-auto-flow: column;
                    margin-top: 12px;
                    .additionImagesWraper{
                    width: 5rem;
                    height: 5rem;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 0.3s ease;
                        border-radius: 8px;
                        grid-column: 1 / -1;
                    }
                }    
            }
            .timestampWraper{
                margin-top: 8px;
                p{
                    opacity: 60%;
                }
            }
        }
    }
    .viewBtn{
        margin-top: 4px;
        display: flex;
        justify-content: center;
    }
    
}