.orderContainer{
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2);
    .order{
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 12px 8px;
        background-color: color-mix(in oklab, var(--primary) 20%, transparent);
        border-radius: 4px;
        .productImg{
            width: 5rem;
            height: 5rem;
            overflow: hidden;
            border-radius: 1rem;
        }
        h3{
            padding-bottom: 12px;
            font-weight: normal;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .productBottom{
            .time{
                span{
                    font-size: var(--text-small);
                }
                opacity: 40%;
            }
        }

    }
}