.card {
    background: #fff;
    flex-shrink: 0;
    border-radius: var(--radius-small);
    aspect-ratio: 32 / 22;
    justify-content: center;
    
    img {
        object-position: center;
    }
}

.border {
    border: 1px solid var(--input);
}

.badge {
    border: 1px solid color-mix(in oklab,
        var(--primary) 50%, transparent);
    color: var(--primary-foreground) !important;
    font-size: var(--text-extra-small);
    border-radius: var(--radius-extra-small);
    width: fit-content !important;
}

.cardContainer {
    padding-inline: calc(var(--spacing) * 3);
    padding-block: calc(var(--spacing) * 3);
    background-color: color-mix(in oklab, var(--input) 20%, transparent);
    border: 1px var(--border) solid;
    border-radius: var(--radius-medium);
}

.paymentContainer{
    .noCard{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        margin: 8px 0;
        h2{
            font-weight: normal;
        }
    }
}