.paymentContainer{
    .paymentHead{
        padding: 8px 0;
        h3 {
            padding-bottom: 8px;
            font-weight: normal;
        }
        p{
            padding-bottom: 4px;
        }
    }
    .noCard{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        margin: 8px 0;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        h2{
            font-weight: normal;
        }
    }

    .hasCard{
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
        margin-bottom: 8px;
        .cardContainer{
            display: flex;
            padding: 12px;
            justify-content: space-between;
            align-items: center;
            .editBtn{
                padding: 8px 16px;
                border: transparent;
                cursor: pointer;
                background-color: variables.$white-button-bg;
                transition: 0.3s;
            }
            .editBtn:hover{
                background-color: variables.$white-button-bg-hover;
            }
        }
    }
    .addCard{
        padding: 12px;
        width: 100%;
        border: transparent;
        background-color: variables.$submit-button-bg;
        color: variables.$text-lighter;
        cursor: pointer;
        transition: 0.3s;
    }
    .addCard:hover{
        background-color: variables.$submit-button-bg-hover;
        color: variables.$text-dark;
    }
}