@use "sass:color";

.container, .fullDetailContainer,.commentContainer {
    width: 100%;
    max-width: 1500px;
    display: flex;
    gap: 2rem;
    background-color: color-mix(in oklab, var(--muted) 30%, transparent);
    border: 1px solid var(--border);
    padding: 1.5rem;
    border-radius: var(--radius-medium);

    [data-theme=dark] & {
        background-color: color-mix(in oklab, var(--input) 30%, transparent);
    }
}

.container {
    width: 100%;
    max-width: 1500px;
    display: flex;
    gap: calc(var(--spacing) * 8);   
    background-color: color-mix(in oklab, var(--muted) 30%, transparent);

    padding: calc(var(--spacing) * 6);
    border-radius: var(--radius-medium);

    [data-theme=dark] & {
        background-color: color-mix(in oklab, var(--input) 30%, transparent);
    }
}

.star {
    color: var(--accent-star);
    letter-spacing: calc(var(--spacing) * 0.5);
}

.productTitle {
    font-weight: 500;
}

.essentialContainer {
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 1.5rem;
    .essentialName {
        color: var(--muted-foreground);
        font-size: 0.9rem;
    }
    .detail{
        display: flex;
        gap: 0.5rem;

        .shipIcon {
            color: var(--icon-blue);
        }
    }
}

.productContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
    gap: 2rem;
    .fullDetailContainer{
        flex-direction: column;
        .header {
            padding: 1rem 1rem;
            background: color-mix(in oklab, var(--input) 30%, transparent);
        }
        .specContainer {
            thead {
                display: none;
            } 
            display: flex;
            .specName {
                padding: 1rem 2rem;
                font-size: 0.9rem;
                color: var(--muted-foreground);
            }
        }
        .markdownContainer{
            padding: 1rem 2rem;
            overflow: hidden;
        }
    }
}


.productPrice{
    background: color-mix(in oklab, var(--muted) 40%, transparent);;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    width: 100%;
    p{
        font-size: 1.5rem;
    }
    &.discounted{
        .percent {
            color: var(--accent-sale);
            font-size: 1.25rem;
        }
        s {
            color: var(--muted-foreground);
        }
    }
}


.active {
    border-color: var(--primary) !important;
    background: color-mix(in oklab, 
    var(--primary) 30%, transparent) !important;
}

.available {
    border-color: var(--primary) !important; 
}

.alternative {
    border-style: dashed !important;
    opacity: 0.85;
}

.inStock {
    color: color-mix(in oklab, var(--stock-in) 80%, transparent) !important;
}

.lowStock {
    color: color-mix(in oklab, var(--stock-low) 80%, transparent) !important;
    font-weight: 600;
}

.outOfStock {
    color: color-mix(in oklab, var(--stock-out) 80%, transparent) !important;
}

.productAction {
    button {
        border-radius: var(--radius-small);
        gap: var(--spacing);
    }
    .addToCart{
        background-color: color-mix(in oklab,
            var(--product-add-bg) 30%, transparent);
        color: var(--product-add-foreground);
        border: 2px var(--product-add-foreground) solid;
        &:hover{
            background-color: color-mix(in oklab,
                var(--product-add-bg) 50%, transparent);
        }
    }
    .buyNow{
        background-color: color-mix(in oklab,
            var(--product-buy-bg) 30%, transparent);
        color: var(--product-buy-foreground);
        border: 2px var(--product-buy-foreground) solid;
        &:hover{
            background-color: color-mix(in oklab,
                var(--product-buy-bg) 50%, transparent);
        }
    }
}