.promotionContainer{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .promotionHeader{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        background-color: 
        color-mix(in oklab
        , var(--muted) 60%
        , var(--primary) 10%);
        padding: 8px;
        border-radius: 8px;
    }
}