.promotionContainer{
    .promotionHeader{
        display: flex;
        justify-content: flex-end;
        button{

        }
    }

    .promotion{
        display: grid;
        grid-template-columns: 10% 80% 10%;
        overflow: hidden;
        .imgContainer{
            width: 5rem;
            height: 5rem;
            overflow: hidden;
            border-radius: 1rem;
            width: fit-content;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .promotionContent{
            overflow: hidden;
            width: 100%;
            .content{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                line-clamp: 3;
                height: 100%;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
                text-decoration: none;
                font-size: 1.1rem;
                color: variables.$primary-color;
            }
        }

    }
}