.searchPageContainer {
    display: flex;
    gap: 2rem;
    padding: 2rem 4rem;
    box-sizing: border-box;
    margin: auto;
    width: 100%;

    .searchResultContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}