.searchPageContainer {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: auto;
    width: 90%;

    .searchResultContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}