.userSetting {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    gap: 1rem;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.profileForm{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding-bottom: 2rem;
    .section {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        flex: 1;
        box-sizing: border-box;
        padding-right: 1rem;
        border-right: 2px #ccc solid;
    
        .row {
            display: grid;
            grid-template-columns: 200px 1fr;
            align-items: center;
            gap: 1.5rem;
            padding: 0.75rem;
            input {
                width: 80%;
                height: 1.5rem;
            }
        }
    
        .label {
            font-size: 0.9rem;
            text-align: right;
            color: #aaa;
        }
    
        .readonly {
            opacity: 0.8;
        }

        button{
            padding: 0.5rem;
            margin-left: 1rem;
            width: 8rem;
            background-color: variables.$submit-button-bg;
            border: none;
            color: variables.$text-lighter;
            font-size: 0.9rem;
            font-weight: 700;
            border-radius: 0.25rem;
            &:hover {
                background-color: variables.$submit-button-bg-hover;
            }
        }
    }
    

    .imageContainer {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
        flex: 0.4;
        padding-top: 1rem;
        .profilePicture {
            display: block;
            overflow: hidden;
            width: 8rem;
            height: 8rem;
            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .selector{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;

            .imageinput{
                background-color: transparent;
                border: #ccc 2px solid;
                padding: 0.75rem 1rem;
                box-sizing: border-box;

            }
            .readonly {
                font-size: 0.9rem;
                text-align: right;
                color: variables.$text-mid-gray;
            }
        }
    }
}