.userSetting {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    gap: 1rem;
    padding: 2rem 1rem;
}

.profileForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.profileContainer {
    padding-right: calc(var(--spacing) * 24);
    padding-left: calc(var(--spacing) * 4);
}

.avatarContainer {
    flex-shrink: 0;
    width: calc(var(--spacing) * 64) !important;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.avatar {
    display: block;
    overflow: hidden;
    width: 8rem !important;
    height: 8rem !important;
    position: relative;
    border-radius: var(--radius-medium);
    img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}