@use "sass:color";

.signinButton{
    background-color: variables.$opposite-brand-color;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;

    &:hover {
        background-color: color.adjust($color: variables.$opposite-brand-color, $lightness: 10%);
    } 

    &:active {
        background-color: color.adjust($color: variables.$opposite-brand-color, $lightness: 30%);
    }
}