.buttonGroupBase {
    display: flex;
    width: fit-content;
    align-items: stretch;

    &:has(>[data-component='button-group']) {
        gap: calc(var(--spacing) * 2);
    }

    &:has(select[aria-hidden='true']:last-child) {
        > [data-component='select-trigger']:last-of-type {
            border-top-right-radius: var(--radius-large);
            border-bottom-right-radius: var(--radius-large);
        }
    }

    > *:focus-visible {
        z-index: 10;
        position: relative;
    }

    > input {
        flex: 1;
    }

    > [data-component]:not(:has(~ [data-component])) {
        border-top-right-radius: var(--radius-large)!important;
        border-bottom-right-radius: var(--radius-large) !important;
    }

    > *:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
    }

    > *:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.buttonGroupText {
    display: flex;
    align-items: center;
    background-color: var(--mute);
    gap: calc(var(--spacing) * 2);
    border-radius: var(--radius-large);
    padding-block: calc(var(--spacing) * 2.5);
    font-weight: 500;
    font-size: var(--text-small);
    border: 1px solid var(--border);
}

.buttonGroupSeparator {
    background-color: var(--input);
    position: relative;
    align-self: stretch;
    &[data-orientation="horizontal"] {
        margin-inline: 1px;
        height: auto;
    }

    &[data-orientation="vertical"] {
        margin-block: 1px;
        height: auto;
    }
}

.horizontal {
    > [data-component]:not(:has(~ [data-component])) {
        border-top-right-radius: var(--radius-large) !important;
        border-bottom-right-radius: var(--radius-large) !important;
    }

    > *:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
    }

    > *:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.vertical {
    flex-direction: column;

    > [data-component]:not(:has(~ [data-component])) {
        border-bottom-left-radius: var(--radius-large) !important;
        border-bottom-right-radius: var(--radius-large) !important;
    }

    > *:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 0;
    }

    > *:not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}