@use "sass:color";

.baseButton {
    flex-shrink: 0;
    border-radius: var(--radius-medium);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    pointer-events: all;
    cursor: pointer;
    transition: all 0.25s;
    border: none;
    box-sizing: border-box;
    text-decoration: none;

    &:disabled {
        pointer-events: none;
        cursor: none;
    }
}

// Variants

.defaultVariant {
    background-color: var(--primary);
    color: var(--primary-foreground);

    &:hover {
        background-color: color-mix(
        in oklab,
        var(--primary) 90%,
        white
        );
    }
}

.opposeVariant {
    background-color: var(--tertiary);
    color: var(--tertiary-foreground);

    &:hover {
        background-color: color-mix(
        in oklab,
            var(--tertiary) 90%,
            white
        );
    }
}

.outlineVariant {
    background-color: var(--background);;
    color: var(--text-neutral);
    border: solid 1px var(--border);

    &:hover {
        background: var(--muted);
    }
}

.secondaryVariant {
    background-color: var(--secondary);
    color: var(--secondary-foreground);

    &:hover {
        background-color: color-mix(
        in oklab,
        var(--secondary) 90%,
        black
        );
    }
}

.destructiveVariant {
    color: var(--destructive);
    background-color: color-mix(in oklab, var(--destructive) 20%, transparent);

    &:hover {
        background-color: color-mix(in oklab, var(--destructive) 30%, transparent);
    }
}

.ghostVariant {
    background-color: transparent;
    color: var(--text-neutral);

    &:hover {
        background-color: color-mix(in oklab,
        var(--foreground) 10%, transparent);
    }
}

.linkVariant {
    background: transparent;
    color: var(--text-neutral);

    &:hover {
        text-decoration: underline;
    }
}

.notification {
    position: relative;
}

// Sizes

.defaultSize {
    padding: 0.5rem 0.825rem;
    font-size: var(--text-base);
}

.extraSmallSize {
    padding: 0.125rem 0.5rem;
    font-size: var(--text-extra-small);
}

.smallSize {
    padding: 0.25rem 0.75rem;
    font-size: var(--text-small);
}

.largeSize {
    padding: 0.6rem 1rem;
    font-size: var(--text-large);
}

.defaultIcon {
    width: calc(var(--spacing) * 8);
    height: calc(var(--spacing) * 8)
}

.extraSmallIcon {
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
    font-size: 0.825rem;
}

.smallIcon {
    width: calc(var(--spacing) * 7);
    height: calc(var(--spacing) * 7);
    font-size: 0.825rem;
}

.largeIcon {
    width: calc(var(--spacing) * 9);
    height: calc(var(--spacing) * 9);
    font-size: 1.125rem;
}