
.daypicker{
    background-color: var(--background);
    padding: calc(var(--spacing) * 2);
    --cell-radius: var(--radius-medium);
    --cell-size: calc(var(--spacing) * 7);

    border-radius: var(--radius-large);
    border: 1px solid var(--border);
    
    [data-component="card-content"] {
        background: transparent;
    }

    [data-component="popover-content"] {
        background: transparent;
    }
}

.daypickerRoot {
    width: fit-content;
}

.daypickerMonths {
    display:flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 4);
    position: relative;
    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.daypickerMonth {
    display:flex;
    flex-direction: column;
    width: 100%;
    gap: calc(var(--spacing) * 4);
}

.daypickerNav {
    display: flex;
    align-items: center;
    gap: var(--spacing);
    width: 100%;
    position: absolute;
    top: 0;
    inset-inline: 0;
    justify-content: space-between;
}

.daypickerButton {
    width: var(--cell-size);
    height: var(--cell-size);

    user-select: none;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    &[aria-disabled=true] {
        opacity: .5;
    }
}

.daypickerMonthCaption {
    display: flex;
    align-items: center;
    justify-content: center;

    height: var(--cell-size);

    width: 100%;
    padding-inline: var(--cell-size);
}

.daypickerDropdowns {
    width: 100%;
    align-items: center;
    display: flex;
    font-size: var(--text-small);
    line-height: var(--text-sm--line-height);
    font-weight: 500;
    justify-content: center;
    height: var(--cell-size);
    gap: calc(var(--spacing) * 1.5);
}

.daypickerDropdownRoot {
    position: relative;
    border-radius: var(--cell-radius);
}

.daypickerDropdown {
    position: absolute;
    background-color: var(--pop-over);
    inset: 0;
    opacity: 0;
}

.daypickerCaptionLabel {
    user-select: none;
    font-weight: 500;
    font-size: var(--text-small);
    line-height: var(--text-sm--line-height);
}

.daypickerCaptionLabelOther {
    border-radius: var(--cell-radius);
    display: flex;
    align-items: center;
    gap: var(--spacing);

    [data-component="icon"] {
        color: var(--muted-foreground);
        font-size: var(--text-large);
        line-height: var(--text-lg--line-height);
    }
}

.daypickerTable {
    width: 100%;
    border-collapse: collapse;
}

.daypickerWeekdays {
    display: flex;
}

.daypickerWeekday {
    color: var(--muted-foreground);
    border-radius: var(--cell-radius);
    flex: 1;
    align-items: center;

    font-size: 0.8rem;
    user-select: none;
    font-weight: normal;
}

.daypickerWeek {
    display: flex;
    width: 100%;
    margin-top: calc(var(--spacing) * 2);
}

.daypickerWeekNumberHeader {
    user-select: none;
    width: var(--cell-size);
}

.daypickerWeekNumber {
    font-size: 0.8rem;
    user-select: none;
    color: var(--muted-foreground);
}

.daypickerDay {
    position: relative;
    width: 100%;
    border-radius: var(--cell-radius);
    height: 100%;
    padding: 0;
    text-align: center;
    &:last-child[data-selected=true] button {
        border-radius: var(--cell-radius);
    }

    aspect-ratio: 1 / 1;
    user-select: none;
}

.daypickerDayShowed {
    &:nth-child(2)[data-selected="true"] button {
        border-top-left-radius: var(--cell-radius);
        border-bottom-left-radius: var(--cell-radius);
    }
}

.daypickerDayUnshowed {
    &:first-child[data-selected="true"] button {
        border-top-left-radius: var(--cell-radius);
        border-bottom-left-radius: var(--cell-radius);
    }
}

.daypickerRange{
    background-color: var(--muted);
    position: relative;
    &::after {
        position: absolute;
        inset-block: 0;
        width: calc(var(--spacing) * 4);
        left: 0;
        z-index: 0;
        isolation: isolate;
    }
}

.rangeStart {
    border-top-left-radius: var(--cell-radius);
    border-bottom-left-radius: var(--cell-radius);
}

.rangeMiddle {
    border-radius: 0;
}

.rangeEnd {
    border-top-right-radius: var(--cell-radius);
    border-bottom-right-radius: var(--cell-radius);
}


.daypickerToday{
    background-color: var(--muted);
    color: var(--muted-foreground);
    border-radius: var(--cell-radius);
    &[data-selection=true] {
        border-radius: 0;
    }
}

.daypickerOutside{
    color: var(--muted-foreground);
    &[aria-selected=true]{
        color: var(--muted-foreground);
    }
}


.daypickerDisabled{
    color: var(--muted-foreground);
    opacity: .5;
}

.hidden {
    display: none;
}

.calendarDayCell {
  position: relative;
  isolation: isolate;
  z-index: 10;
  display: flex;
  aspect-ratio: 1 / 1;
  width: auto;
  height: auto;
  width: 100%;
  min-width: var(--cell-size);
  flex-direction: column;
  gap: var(--spacing);
  border-width: 0;
  line-height: 1;
  font-weight: 400;

  &[data-selected-single="true"] {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
  }

  &[data-range-middle="true"] {
    background-color: var(--muted); 
    color: var(--foreground);
    border-radius: 0;
  }

  &[data-range-start="true"] {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    border-radius: var(--cell-radius);
    border-top-left-radius: var(--cell-radius);
    border-bottom-left-radius: var(--cell-radius);
  }

  &[data-range-end="true"] {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    border-radius: var(--cell-radius);
    border-top-right-radius: var(--cell-radius);
    border-bottom-right-radius: var(--cell-radius);
  }

  .daypickerDay[data-focused="true"] & {
    border-color: var(--ring);
    box-shadow: 0 0 0 3px color-mix(in srgb, var(--ring) 50%, transparent);
    position: relative;
    z-index: 10;
  }

  [data-theme="dark"] &:hover {
    color: var(--foreground);
    background-color: color-mix(in oklab, var(--muted) 50%, transparent);;
  }

  & > span {
    font-size: 0.75rem;
    opacity: 0.7;
  }
}

.navButton{
    width: 100%;
    height: 100%;
    line-height: 1.75;
    text-align: center;
}