.comboboxTriggerIcon {
    color: var(--muted-foreground);
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
    pointer-events: none;
    flex-shrink: 0;
    font-size: 0.5rem;
    line-height: calc(var(--spacing) * 4);
}

.inputAddon {
    &[data-pressed] {
        background-color: transparent;
    }

    [data-component='input-group']:has([data-component='combobox-clear']) & {
        display: none;
    }
}

.comboPositioner {
    isolation: isolate;
    z-index: 100;
}

.comboList {
    overflow-y: auto;
    overscroll-behavior: contain;

    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    max-height: min(
        calc(var(--spacing) * 72 - var(--spacing) * 9),
        calc(var(--available-height) - var(--spacing) * 9)
    );

    scroll-padding-top: calc(var(--spacing) * 1);
    scroll-padding-bottom: calc(var(--spacing) * 1);

    padding: calc(var(--spacing) * 1);

    &[data-empty] {
        padding: 0;
    }
}

.comboItem {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    gap: calc(var(--spacing) * 2);

    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 8) calc(var(--spacing) * 1) calc(var(--spacing) * 1.5);
    border-radius: var(--radius-medium);
    font-size: var(--text-small);

    cursor: default;
    user-select: none;
    outline: none;

    [data-component=icon] {
        pointer-events: none;
        flex-shrink: 0;
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
        font-size: var(--text-extra-small);
    }

    &[data-disabled] {
        pointer-events: none;
        opacity: 0.5;
    }

    &[data-highlighted] {
        background-color: var(--accent);
        color: var(--accent-foreground);

        &:not([data-variant='destructive']) {
        * {
            color: var(--accent-foreground);
        }
        }
    }
}

.comboItemIndicator {
    pointer-events: none;
    position: absolute;
    right: calc(var(--spacing) * 2);
    display: flex;
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
    justify-content: center;
    align-items: center;
}

.comboEmpty {
    color: var(--muted-foreground);
    display: none;
    width: 100%;
    justify-content: center;
    padding-block: calc(var(--spacing) * 2);
    text-align: center;
    font-size: var(--text-small);
    line-height: var(--text-sm--line-height);
    .comboContent[data-empty] & {
        display: flex;
    }
}

.comboChip {
    background-color: var(--muted);
    color: var(--foreground);
    display: flex;
    height: calc(var(--spacing) * 5.25);
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: var(--spacing);
    border-radius: var(--radius-small);
    padding-inline: calc(var(--spacing) * 1.5);
    font-size: var(--text-extra-small);
    line-height: var(--text-xs--line-height);
    white-space: nowrap;

    &:has([disabled]) {
        pointer-events: none;
        cursor: not-allowed;
        opacity: .5;
    }

    &:has([data-component="combobox-chip-remove"]) {
        padding-right: 0;
    }
}

.comboChipRemove {
    margin-left: calc(var(--spacing) * -1);
    opacity: .5;
    &:hover {
        opacity: 1;
    }
}

.comboInput {
    min-width: calc(var(--spacing) * 16);
    flex: 1;
    outline: none;

    :has(.comboboxTriggerIcon) {
        max-height: calc(var(--spacing) * 8);
    }
}

.comboChips {
    border: 1px solid var(--input);
    display: flex;

    transition-property: color, background-color, box-shadow;
    transition-duration: 0.2s;

    min-height: calc(var(--spacing) * 2);
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing);
    border-radius: var(--radius-large);

    background: transparent;
    background-clip: padding-box;

    padding-inline: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing) * 1);

    font-size: var(--text-small);

    &:has([data-component=combobox-chip]) {
        padding-inline: var(--spacing);
    }

    &:focus-within{
        box-shadow: 0 0 0 3px color-mix(in oklab, 
        var(--ring) 50%, transparent);
    }

    &:has([aria-invalid=true]) {
        border-color: var(--destructive);
        box-shadow: 0 0 0 3px color-mix(in oklab, 
        var(--destructive) 20%, transparent);
    }

    [data-theme=dark] & {
        background-color: color-mix(in oklab, 
            var(--input) 30%, transparent);
        &:has([aria-invalid=true]) {
            border-color: color-mix(in oklab, 
                var(--destructive) 50%, transparent);
            box-shadow: 0 0 0 3px color-mix(in oklab, 
            var(--destructive) 40%, transparent);
        }
    }
}

.comboSeparator {
    background-color: var(--border);
    margin-inline: calc(var(--spacing) * 1);
    margin-block: calc(var(--spacing) * 1);
    height: 1px;
}

.comboLabel {
    color: var(--muted-foreground);
    padding-inline: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing) * 1.5);
    font-size: var(--text-extra-small);
    line-height: var(--text-xs--line-height);
}

.comboContent {
    background-color: var(--popover);
    color: var(--popover-foreground);
    box-shadow: 0 0 0 1px color-mix(
            in oklab, var(--foreground) 10%,transparent),
            0 4px 6px -1px #0000001a,0 2px 4px -2px #0000001a;
    
    position: relative;
    display: block;

    max-height: var(--available-height);
    min-width: calc(var(--anchor-width) + var(--spacing) * 7);
    max-width: var(--available-width);
    width: var(--anchor-width);


    border-radius: var(--radius-large);
    overflow: hidden;
    transition-duration: 100ms;

    transform-origin: var(--transform-origin);

    [data-component='input-group'] {
        background-color: color-mix(in oklab, var(--input) 30%, transparent);
        border: 1px solid color-mix(in oklab, var(--input) 30%, transparent);
        margin: var(--spacing);
        margin-bottom: 0;
        height: 2rem;
        box-shadow: none;
    }

    &[data-chips='true'] {
        min-width: var(--anchor-width);
    }

}

