.menuContent {
    min-width: calc(var(--spacing) * 36);
    color: var(--popover-foreground);
    border-radius: var(--radius-large);
    padding: var(--spacing);
    background-color: var(--popover);
    box-shadow: 0 0 0 1px color-mix(
        in oklab, var(--foreground) 10%,transparent),
        0 4px 6px -1px #0000001a,0 2px 4px -2px #0000001a;
    z-index: 99;

    max-height: var(--radix-dropdown-menu-content-available-height);
    max-width: var(--radix-dropdown-menu-content-available-width);

    transform-origin: var(--radix-dropdown-menu-content-transform-origin);

    min-width: var(--radix-dropdown-menu-trigger-width);

    overflow-x: hidden;
    overflow-y: auto;
}

.menuSubContent{
    min-width: calc(var(--spacing) * 24);
    border-radius: var(--radius-medium);
    padding: var(--spacing);
    background-color: var(--popover);
    color: var(--popover-foreground);
    box-shadow: 0 0 0 1px color-mix(
        in oklab, var(--foreground) 10%,transparent),
        0 4px 6px -1px #0000001a,0 2px 4px -2px #0000001a;
    z-index: 99;
    transform-origin: var(--radix-dropdown-menu-content-transform-origin);
    overflow: hidden;
}

.subContent {
    transform-origin: var(--radix-dropdown-menu-content-transform-origin);
    color: var(--popover-foreground);
    overflow: hidden;
}

a.dropdownItem {
    color: var(--accent-foreground);
    text-decoration: none;
}

.dropdownItem {
    position: relative;
    display: flex;
    align-items: center;

    gap: calc(var(--spacing) * 1.5);
    padding-inline: calc(var(--spacing) * 1.5);
    padding-block: calc(var(--spacing) * 1);

    &[data-component="dropdown-menu-checkbox-item"],
    &[data-component="dropdown-menu-radio-item"] {
        padding-left: calc(var(--spacing) * 1.5);
        padding-right: calc(var(--spacing) * 8);
    }

    border-radius: var(--radius-medium);
    font-size: var(--text-small);
    line-height: var(--text-sm--line-height);
    pointer-events: all;
    cursor: default;
    user-select: none;
    outline: none;

    &:focus {
        background-color: var(--accent);
        color: var(--accent-foreground);

        * {
        color: var(--accent-foreground);
        }
    }

    &[data-disabled] {
        pointer-events: none;
        opacity: 0.5;
    }

    &[data-inset] {
        padding-left: calc(var(--spacing) * 8);
    }

    [data-component="icon"] {
        pointer-events: none;
        flex-shrink: 0;
        width: 1rem;
        height: 1rem;
        font-size: var(--text-extra-small);
        line-height: var(--text-xs--line-height);
    }

    &[data-variant='destructive'] {
        color: var(--destructive);

        &:focus {
            background-color: color-mix(
                in oklab,
                var(--destructive) 10%,
                transparent
            );
        color: var(--destructive);
        }

        [data-theme=dark] & {
            &:focus-visible {
                    background-color: color-mix(
                    in oklab,
                    var(--destructive) 20%,
                    transparent
                );
            }
        }

        [data-theme=dark] & {
            &:focus-visible {
                    background-color: color-mix(
                    in oklab,
                    var(--destructive) 30%,
                    transparent
                );
            }
        }

        span {
            color: var(--destructive);
        }
    }

    &:not([data-variant='destructive']) {
        &:focus {
            * {
                color: var(--accent-foreground);
            }
        }
    }

    &:has([dropdown-menu-shortcut]) {
        color: var(--accent-foreground);
    }
}

.menuShortcut {
    color: var(--muted-foreground);
    margin-left: auto;
    font-size: var(--text-extra-small);
    line-height: var(--text-xs--line-height);
    letter-spacing: 0.1em;
}

.indicator {
    pointer-events: none;
    position: absolute;
    right: calc(var(--spacing) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    color: var(--muted-foreground);
    font-weight: 500;
    font-size: var(--text-extra-small);
    padding-inline: calc(var(--spacing) * 1.5);
    padding-block: calc(var(--spacing) * 1);

    &[data-inset] {
        padding-left: calc(var(--spacing) * 8);
    }
}

.separator {
    background: var(--border);
    margin-inline: calc(var(--spacing) * -1);
    margin-block: var(--spacing);
    height: 1px;
}