.inputGroup {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    min-width: 0;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: var(--radius-medium);
    transition: color 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    outline: none;
    overflow: hidden;
    height: calc(var(--spacing) * 8);
    box-sizing: border-box;
    
    &:focus-within {
        border-color: var(--ring);
        box-shadow: 0 0 0 3px color-mix(
            in oklab, var(--ring) 50%, transparent);
    }
    
    &[aria-invalid="true"] {
        border-color: var(--destructive);
        box-shadow: 0 0 0 3px color-mix(
            in oklab, var(--destructive) 20%, transparent);
    }
    
    &:disabled {
        background-color: var(--input);
        opacity: 0.5;
        cursor: not-allowed;
    }
    
    &:has(>[data-align=block-end]) {
        input {
            padding-top: calc(var(--spacing) * 3);
        }
        flex-direction: column;
        height: auto;
    }

    &:has(>[data-align=block-start]) {
        input {
            padding-bottom: calc(var(--spacing) * 3);
        }
        flex-direction: column;
        height: auto;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px var(--input) inset !important;
    }
}

.inputGroupAddon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: text;
    font-size: 0.875rem;
    font-weight: 500;
    gap: 0.5rem;
    padding-block: calc(var(--spacing) * 1.5);
    color: var(--placeholder);
    box-sizing: border-box;

    &[data-align="inline-start"] {
        padding-left: 0.5rem;
        order: -1;
        &:has(button) {
            margin-right: -0.3rem;
        }
    }

    &[data-align="inline-end"] {
        padding-right: calc(var(--spacing) * 2);
        order: 1;
        &:has(button) {
            margin-right: -0.3rem;
        }
    }

    &[data-align="block-start"] {
        padding: 0.5rem 0.625rem 0 0.625rem;
        width: 100%;
        order: -1;
        justify-content: flex-start;
    }

    &[data-align="block-end"] {
        padding: 0 0.625rem 0.5rem 0.625rem;
        width: 100%;
        order: 1;
        justify-content: flex-start;
    }

    &[disabled] {
        opacity: 0.5;
    }
}

.inputGroupButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    box-shadow: none;
    box-sizing: border-box;
}

.sizeXs {
    height: calc(var(--spacing) * 6);
    gap: 0.25rem;
    border-radius: calc(var(--radius) - 3px);
    padding: 0 0.375rem;
}

.sizeIconXs {
    height: 1.5rem;
    border-radius: calc(var(--radius) - 3px);
    padding: 0;
}

.sizeIconSm {
    height: 2rem;
    padding: 0;
}

.inputGroupText {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: var(--placeholder);

    svg {
        pointer-events: none;
        width: 1rem;
        height: 1rem;
    }
}

.inputGroupInput {
    flex: 1;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    outline: none;

    &:focus-visible {
        box-shadow: none;
    }
}

.inputGroupTextarea {
    flex: 1;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 0.5rem 0;
    resize: none;
}
