.inputGroup {
    position: relative;
    display: flex;
    align-items: center;

    height: 2rem;
    min-width: 0;
    width: auto;

    border-radius: var(--radius-large);
    border: 1px solid var(--input);

    transition: border-color 0.15s ease, box-shadow 0.15s ease;
    outline: none;

    [data-theme=dark] & {
        background-color: color-mix(
        in oklab,
        var(--input) 30%,
        transparent
        );
    }

    [data-theme=midnight] & {
        background-color: color-mix(
        in oklab,
        var(--muted) 10%,
        transparent
        );
    }

    &:has([data-component='input-group-control']:focus-visible) {
        border-color: var(--ring);
        box-shadow: 0 0 0 3px
        color-mix(in oklab, var(--ring) 50%, transparent);
    }

    &:has([data-component][aria-invalid='true']) {
        border-color: var(--destructive);
        box-shadow: 0 0 0 3px
        color-mix(in oklab, var(--destructive) 20%, transparent);
    }

    :global(.dark) &:has([data-slot][aria-invalid='true']) {
        box-shadow: 0 0 0 3px
        color-mix(in oklab, var(--destructive) 40%, transparent);
    }

    /* ----------------------------------------
        Disabled state
    ---------------------------------------- */
    &:has(:disabled),
    &:has([aria-disabled='true']) {
        opacity: 0.5;
        background-color: color-mix(
        in oklab,
        var(--input) 50%,
        transparent
        );

        :global(.dark) & {
        background-color: color-mix(
            in oklab,
            var(--input) 80%,
            transparent
        );
        }
    }

    &:has(>[data-align='block-start']),
    &:has(>[data-align='block-end']),
    &:has(> textarea) {
        height: auto;
        flex-direction: column;
    }

    &:has(>[data-align='block-end']) > input {
        padding-top: calc(var(--spacing) * 3);
    }

    &:has(>[data-align='block-start']) > input {
        padding-bottom: calc(var(--spacing) * 3);
    }

    &:has(>[data-align='inline-end']) > input {
        padding-right: calc(var(--spacing) * 1.5);
    }

    &:has(>[data-align='inline-start']) > input {
        padding-left: calc(var(--spacing) * 1.5);
    }

    [data-component='combobox-content'] & {
        &:focus-within {
        border-color: inherit;
        box-shadow: none;
        }
    }
}


.inputGroupAddon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: text;
    font-size: 0.875rem;
    font-weight: 500;
    gap: 0.5rem;
    padding-block: calc(var(--spacing) * 1.5);
    color: var(--placeholder);
    box-sizing: border-box;

    &[data-align="inline-start"] {
        padding-left: 0.5rem;
        order: -1;
        &:has(button) {
            margin-left: -0.3rem;
        }
    }

    &[data-align="inline-end"] {
        padding-right: calc(var(--spacing) * 2);
        order: 1;
        &:has(button) {
            margin-right: -0.3rem;
        }
    }

    &[data-align="block-start"] {
        padding: 0.5rem 0.625rem 0 0.625rem;
        width: 100%;
        order: -1;
        justify-content: flex-start;
        .inputGroup:has(>[input]) & {
            padding-top: calc(var(--spacing) * 2);
        }
    }

    &[data-align="block-end"] {
        padding: 0 0.625rem 0.5rem 0.625rem;
        width: 100%;
        order: 1;
        justify-content: flex-start;

        .inputGroup:has(>[input]) & {
            padding-bottom: calc(var(--spacing) * 2);
        }
    }

    .inputGroup[data-disabled=true] & {
        opacity: 0.5;
    }
}

.inputGroupButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    box-shadow: none;
    box-sizing: border-box;
}

.sizeXs {
    height: calc(var(--spacing) * 6);
    gap: 0.25rem;
    border-radius: calc(var(--radius) - 3px);
    padding: 0 0.375rem;
}

.sizeIconXs {
    height: calc(var(--spacing) * 6);
    width: calc(var(--spacing) * 6);
    font-size: 0.5rem;
    border-radius: calc(var(--radius) - 3px);
    padding: 0;
}

.sizeIconSm {
    height: calc(var(--spacing) * 8);
    width: calc(var(--spacing) * 8);
    padding: 0;
}

.inputGroupText {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: var(--placeholder);

    svg {
        pointer-events: none;
        width: 1rem;
        height: 1rem;
    }
}

.inputGroupInput {
    flex: 1;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    outline: none;

    &:focus-visible {
        box-shadow: none;
    }

    [data-theme=dark] &, [data-theme=midnight] & {
        background: transparent;
        &:disabled {
            background: transparent;
        }
    }
    
}

.inputGroupTextarea {
    flex: 1;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 0.5rem 0;
    resize: none;

    [data-theme=dark] & {
        background: transparent;
        &:disabled {
            background: transparent;
        }
    }
}
