.input {
    width: 100%;
    min-width: 0;
    height: 2rem;

    border-radius: 0.5rem;
    border: 1px solid var(--border);
    background-color: transparent;
    padding-inline: calc(var(--spacing) * 2.5);
    padding-block: calc(var(--spacing) * 1);

    font-size: 0.875rem;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;

    box-sizing: border-box;
    outline: none;

    [data-theme=dark] & {
        background: color-mix(in srgb, var(--input) 30%, transparent);
    }
    [data-theme=midnight] & {
        background: color-mix(in srgb, var(--input) 10%, transparent);
    }


    input[type='file']::file-selector-button {
        height: calc(var(--spacing) * 6);
        color: var(--foreground);
        font-size: var(--text-small);
        line-height: var(--text-sm--line-height);
        font-weight: 500;
        display: inline-flex;
        border: none;
        background: transparent;
    }

    &::placeholder {
        color: var(--muted-foreground);
    }

    &:focus-visible {
        border-color: var(--ring);
        box-shadow: 0 0 0 3px color-mix(in srgb, var(--ring) 50%, transparent);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
        background-color: color-mix(in srgb, var(--input) 50%, transparent);
        [data-theme=dark] &, [data-theme=midnight] & {
            background: color-mix(in srgb, var(--ring) 80%, transparent);;
        }
    }

    &[aria-invalid="true"] {
        border-color: var(--destructive);
        box-shadow: 0 0 0 3px color-mix(in srgb, var(--destructive) 20%, transparent);
    }
}
