.label {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 2);
    font-size: var(--text-smallall);
    font-weight: 500;
    user-select: none;
    line-height: 1;

    &[group-data-disabled=true] {
        pointer-events: none;
    }

    &[peer-disabled] {
        cursor: not-allowed;
    }

    &[group-data-disabled=true], [peer-disabled] {
        opacity: .5;
    }
}