.radioGroup{
    gap: calc(var(--spacing) * 2);
    display: grid;
    width: 100%;
}

.radioItem {
    position: relative;
    display: flex;

    width: 1rem;
    height: 1rem;
    aspect-ratio: 1 / 1;

    flex-shrink: 0;
    border-radius: 9999px;

    border: 1px solid var(--input);
    color: var(--primary);

    background-color: transparent;
    outline: none;

    
    &:focus-visible {
        border-color: var(--ring);
        box-shadow: 0 0 0 3px
        color-mix(in oklab, var(--ring) 50%, transparent);
    }
    
    &[aria-invalid='true'] {
        border-color: var(--destructive);
        
        box-shadow: 0 0 0 3px
        color-mix(in oklab, var(--destructive) 20%, transparent);
    }
    
    &:disabled,
    &[aria-disabled='true'] {
        cursor: not-allowed;
        opacity: 0.5;
    }
    
    &::after {
        content: '';
        position: absolute;
        inset-inline: -0.75rem;
        inset-block: -0.5rem;
    }

    [data-theme=dark] & {
        background: color-mix(in oklab, var(--input) 30%, transparent);;
        &[aria-invalid='true'] {
            border-color: color-mix(in oklab, var(--destructive) 50%, transparent);

            
            box-shadow: 0 0 0 3px
            color-mix(in oklab, var(--destructive) 40%, transparent);
        }
    
    }
}


.radioIndicator {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);

    color: var(--primary);

    .radioItem[aria-invalid='true'] & {
        color: var(--destructive);
    }
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--spacing) * 2);
    height: calc(var(--spacing) * 2);

    transform: translate(-50%, -50%);

    font-size: 0.5rem;

    color: inherit;
}
