.chevron {
    color: var(--muted-foreground);
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
    pointer-events: none;
}

.selectTrigger {
    border: 1px var(--input) solid;
    border-radius: var(--radius-large);
    background: transparent;

    padding-block: calc(var(--spacing) * 2);
    padding-right: calc(var(--spacing) * 2);
    padding-left: calc(var(--spacing) * 2.5);
    transition: color;
    user-select: none;
    width: fit-content;
    align-items: center;
    justify-content: center;
    font-size: var(--text-small);
    gap: calc(var(--spacing) * 1.5);
    display: flex;
    white-space: nowrap;
    outline-style: none;
    justify-content: space-between;

    &[disabled] {
        opacity: .5;
        cursor: not-allowed;
    }

    &[aria-invalid] {
        box-shadow: 0 0 0 3px color-mix(in srgb, var(--destructive) 20%, transparent);
        border-color: var(--destructive);
    }

    &[data-size="default"] {
        height: calc(var(--spacing) * 8);
    }

    &[data-size="sm"] {
        height: calc(var(--spacing) * 7);
        border-radius: min(var(--radius-medium), 10px);
    }

    [data-component="select-value"] {
        display: flex;
        gap: calc(var(--spacing) * 1.5);
        line-clamp: 1;
        -webkit-line-clamp: 1;
        align-items: center;
    }

    &::placeholder {
        color: var(--muted-foreground);
    }

    &:focus-visible {
        border-color: var(--ring);
        box-shadow: 0 0 0 3px color-mix(in srgb, var(--ring) 50%, transparent);
    }
}

.selectContent{
    background-color: var(--popover);
    color: var(--popover-foreground);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: var(--radius-large);

    box-sizing: border-box;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    outline-style: none;

    transform-origin: var(--radix-select-content-transform-origin);
    max-height: var(--radix-select-content-available-height);

    position: relative;
    min-width: calc(var(--spacing) * 36);

    box-shadow: 0 0 0 1px color-mix(
        in oklab, var(--ring) 10%,transparent),
        0 4px 6px -1px #0000001a,0 2px 4px -2px #0000001a;
    
    &.popper[data-side="bottom"] {
        transform: translateY(var(--spacing));
    }
    &.popper[data-side="top"] {
        transform: translateY(calc(var(--spacing) * -1));
    }
    &.popper[data-side="left"] {
        transform: translateX(var(--spacing));
    }
    &.popper[data-side="right"] {
        transform: translateX(calc(var(--spacing) * -1));
    }
    z-index: 99;
}

.viewport {
    &[data-position="popper"] {
        height: var(--radix-select-trigger-height);
        width: 100%;
        min-width: var(--radix-select-trigger-width);
    }
}

.selectGroup {
    scroll-margin-block: calc(var(--spacing) * 1);
    padding: var(--spacing);
    box-sizing: border-box;
}

.selectItem {
    border-radius: var(--radius-medium);
    padding-block: var(--spacing);
    padding-right: calc(var(--spacing) * 8);
    padding-left: calc(var(--spacing) * 1.5);
    font-size: var(--text-small);
    line-height: calc(1.25 / .875);;
    position: relative;
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    outline-style: none;
    user-select: none;

    &:not([data-variant='destructive']):focus {
        *{
            color: var(--accent-foreground);
        }
    }

    span:last-child {
        display: flex;
        align-items: center;
        gap: calc(var(--spacing) * 2);
    }

    &[data-disable] {
        pointer-events: none;
        opacity: .5;
    }

    &:focus {
        background-color: var(--accent);
        color: var(--accent-foreground);
    }

    .indicator {
        pointer-events: none;
        position: absolute;
        right: calc(var(--spacing) * 2);
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
    }
}

.selectLabel {
    color: var(--muted-foreground);
    font-size: var(--text-extra-small);
    padding-inline: calc(var(--spacing) * 1.5);
    padding-block: calc(var(--spacing) * 1);
}

.selectSeparator {
    background-color: var(--border);
    margin-block: calc(var(--spacing) * 1);
    margin-inline: calc(var(--spacing) * -1);
    height: 1px;
    pointer-events: none;
}

.scrollbutton {
    background-color: var(--popover);
    z-index: 10;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding-block: var(--spacing);
    span {
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
    }
}