.separator{
    background-color: var(--border);
    flex-shrink: 0;

    &[data-orientation="horizontal"] {
        height: 1px;
        width: 100%;
    }

    &[data-orientation="vertical"] {
        width: 1px;
        align-self: stretch;
    }
}