.switch {
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;

    border-radius: 9999px;
    border: 1px solid transparent;

    outline: none;
    transition: all 0.2s ease;

    &[data-size='default'] {
        width: 32px;
        height: 18.4px;
    }

    &[data-size='sm'] {
        width: 24px;
        height: 14px;
    }

    &[data-state=checked] {
        background-color: var(--primary);
    }

    &[data-state=unchecked] {
        background-color: var(--input);
        [data-theme=dark] & {
            background-color: 
                color-mix(in oklab, var(--input) 80%, transparent);
        }
    }

    &:focus-visible {
        border-color: var(--ring);
        box-shadow: 0 0 0 3px color-mix(in oklab, var(--ring) 50%, transparent);
    }

    &[aria-invalid='true'] {
        border-color: var(--destructive);
        box-shadow: 0 0 0 3px color-mix(in oklab, var(--destructive) 20%, transparent);
    
        [data-theme=dark] & {
            box-shadow: 0 0 0 3px 
                color-mix(in oklab, var(--destructive) 40%, transparent);
            border-color: 
                color-mix(in oklab, var(--destructive) 50%, transparent);
        }
    }

    &[data-disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &::after {
        content: '';
        position: absolute;
        inset-inline: calc(var(--spacing) * -3);
        inset-block: calc(var(--spacing) * -2);
    }
}

.switchThumb {
    pointer-events: none;
    display: block;

    border-radius: 9999px;
    background-color: var(--background);

    transition: transform 0.2s ease;

    [data-theme="dark"] & {
        &[data-state=unchecked] {
            background-color: var(--foreground);
        }
        &[data-state=checked] {
            background-color: var(--primary-foreground);
        }
    }

    .switch[data-size='default'] & {
        width: 1rem;
        height: 1rem;
    }

    .switch[data-size='sm'] & {
        width: 0.75rem;
        height: 0.75rem;
    }

    .switch[data-size='default'][data-state=checked] & {
        transform: translateX(calc(100% - 2px));
    }

    .switch[data-size='sm'][data-state=checked] & {
        transform: translateX(calc(100% - 2px));
    }

    .switch[data-size='default'][data-state=unchecked] &,
    .switch[data-size='sm'][data-state=unchecked] & {
        transform: translateX(0);
    }
}
