.variantChip {
    height: 25px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing);
    background-color: var(--primary);
    padding-block: calc(var(--spacing) * 0.5);
    padding-inline: calc(var(--spacing) * 1.5);
    padding-right: calc(var(--spacing) * 0.5 );
    border-radius: var(--radius-small);
    flex-shrink: 0;
}

.variantChipContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    max-height: 72px;
    overflow-y: auto;
}

.variantInput {
    flex: 1;
    min-width: 120px;
    border: none;
    outline: none;
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.productField {
    padding: calc(var(--spacing) * 4 );
}

.productDataSettings {
    background-color: color-mix(in oklab, var(--muted) 30%, transparent);
    border: 1px solid var(--border);
    border-radius: var(--radius-medium);
    padding: calc(var(--spacing) * 4 );
    [data-theme=dark] & {
        background-color: color-mix(in oklab, var(--input) 30%, transparent);
    }
}

.status {
    width: calc(var(--spacing) * 1.5 );
    height: calc(var(--spacing) * 1.5 );
    border-radius: var(--radius-small);
    background-color: var(--muted-foreground);

    &.active {
        background-color: var(--success);
    }

    &.low {
        background-color: var(--warning);
    }

    &.out {
        background-color: var(--destructive);
    }
}

.productPanel {
    flex-shrink: 0;
    width: 250px;
    padding: calc(var(--spacing) * 4 );
    background-color: color-mix(in oklab, var(--muted) 30%, transparent);
    border-right: 1px solid var(--border);
}

.productDataField {
    background-color: color-mix(in oklab, var(--muted) 30%, transparent);
    border: 1px solid var(--border);
    border-radius: var(--radius-medium);

    [data-theme=dark] & {
        background-color: color-mix(in oklab, var(--input) 30%, transparent);
    }
}