.variantChip {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing);
    background-color: var(--primary);
    padding-block: calc(var(--spacing) * 0.5);
    padding-inline: calc(var(--spacing) * 1.5);
    padding-right: calc(var(--spacing) * 0.5 );
    border-radius: var(--radius-small);
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
