.productTable {
      table-layout: fixed;
      border-collapse: collapse;
      width: 100%;

      .tableHead {
        background-color: color-mix(in oklab, var(--muted) 30%, transparent);
      }
      
      td, th {
        padding: 12px;
        vertical-align: middle;
        word-break: break-word;
      }
    }
    .center{
      text-align: center;
    }
    .name{
      display: -webkit-box;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
    }
    .productContent {
      display: flex;
      gap: 12px;
      align-items: center;
    }
    .imgContainer {
      width: calc(var(--spacing)*20);
      aspect-ratio: 1 / 1;
      overflow: hidden;
      border-radius: var(--radius-medium);
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }