.myProductPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    gap: 2rem;
    padding: 2rem 1rem;
    .myProductContainer{
        width: 100%;
        display: flex;
        padding: calc(var(--spacing) * 4);
        gap: calc(var(--spacing) * 4);
        padding-block: calc(var(--spacing) * 4);
        background-color: color-mix(in oklab, var(--muted) 30%, transparent);
        border: 1px solid var(--border);
        border-radius: var(--radius-medium);

        [data-theme=dark] & {
            background-color: color-mix(in oklab, var(--input) 30%, transparent);
        }

    }
    .productContainer{
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 4);
        .product{
            .imgContainer{
                width: calc(var(--spacing)*30);
                overflow: hidden;
                aspect-ratio: 1 / 1;
                border-radius: var(--radius-medium);
                position: relative;
                object-fit: cover;
                display: grid;
                flex-shrink: 0;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.3s ease;
                    grid-column: 1 / -1;
                }
            }
            .sizeSelector,.variableSelector{
                display: flex;
                align-items: center;
                gap: calc(var(--spacing) * 2);
            }
        }
    }
}