.myProductContainer{
    width: 100%;
    display: flex;
    padding: calc(var(--spacing) * 4);
    gap: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 4);
    background-color: color-mix(in oklab, var(--muted) 30%, transparent);
    border: 1px solid var(--border);
    border-radius: var(--radius-medium);

    [data-theme=dark] & {
        background-color: color-mix(in oklab, var(--input) 30%, transparent);
    }
}

.imgContainer{
    width: calc(var(--spacing) * 24);
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: var(--radius-medium);
    position: relative;
    object-fit: cover;
    display: grid !important;
    flex-shrink: 0;
    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
        grid-column: 1 / -1;
    }
}

.prodTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;
    overflow: hidden;
    text-align: start;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    text-overflow: ellipsis;
    font-size: var(--text-base);
    line-height: calc(var(--text-base--line-height));
    height: calc(var(--text-base--line-height) * var(--text-base) * 1);
}

.prodDetail {
    gap: calc(var(--spacing) * 2) !important;
}

.myProductPage{
    padding: 2rem 1rem;
}