.sellerLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: calc(var(--spacing) * 4);
    padding: 2rem 1rem;

    .sellerToolbar,.sellerPanel{
        width: 100%;
        display: flex;
        padding: calc(var(--spacing) * 4);
        gap: calc(var(--spacing) * 4);
        padding-block: calc(var(--spacing) * 4);
        background-color: color-mix(in oklab, var(--muted) 30%, transparent);
        border: 1px solid var(--border);
        border-radius: var(--radius-medium);

        [data-theme=dark] & {
            background-color: color-mix(in oklab, var(--input) 30%, transparent);
        }
    }
    .sellerToolbarRow{
        gap: calc(var(--spacing) * 2);
    }
}
.sellerHeader{
    padding: calc(var(--spacing) * 4);
    h2{
        font-weight: 400;
    }
}
.productTable {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}